code/*/bin/
code/*/obj/
code/.vs

infrastructure/dev/.terraform.lock.hcl
infrastructure/dev/terraform.tfstate
infrastructure/dev/terraform.tfstate.backup
infrastructure/dev/terraform.tfvars
infrastructure/dev/.terraform/
