
@if(Board is null)
{
    <center>No scores available</center>
}
else
{
    <div class="score-tray">
        <div class="score-icon">
            <image src="dead-fly-icon.png" width="30" height="30" />
        </div>
        <div class="score-icon">
            @Board.Score
        </div>
        <div class="score-icon">
            <image src="fly-icon.png" width="30" height="30" />
        </div>
        <div class="score-icon">
            @Board.Foes
        </div>
        <div class="score-icon">
            <image src="icon-192.png" width="30" height="30" />
        </div>
        <div class="score-icon">
            @Board.TotalKills
        </div>
    </div>
}
    

@code {
    [Parameter]
    public ScoreBoard? Board {get; set;}
}