@page "/"
@using System.Timers;
@inject HttpClient Http
@inject ILocalStorageService _localstorage;
@inject IJSRuntime JSRuntime

<PageTitle>Matamosca 💩</PageTitle>
<img class="banner-photo" src="banner.png"/>

@if(Snapshot is null)
{
    <h2>No game in course</h2>
}
else
{
    <ScoreTray Board=@Snapshot.Board/>
    @if(TutorialMovements < 20)
    {
        <center>Busca y mata moscas!</center>
    }
    <div class="grid-container">
        @for(int i = 0; i < Snapshot.Map.Count(); i++)
        {
            var representation = Snapshot.Map.ElementAt(i);
            var direction = (Directions)i;
            var style = "background-size: cover;";
            if (representation.Avatar != 'W')
            {
                var base64String = $"""data:image/png;base64,{ImageHelper.GetImage($"{representation.X}-{representation.Y}")}""";
                style += $"background-image: url({base64String});";
            }
            <div class="grid-item" id="display" style="@style" @onclick="() => Move(direction)">
                @if(i == 4)
                {
                    var className = $"{Directions.Center} something" + (IsAnimating ? $" animate-{LastDirection}": "");
                    <img class="@className" src="fly-swatter-icon.png" />
		        }
                else
                {

                    @switch(representation.Avatar)
                    {
                        case 'Z':
                            <img class="something" src="fly-icon.png" />
                            break;
                        case 'D':
                            <img class="something"  src="dead-fly-icon.png" />
                            break;
                        case 'F':
                            <p/>
                            break;
                        case 'W':
                            <div class="map-wall"/>
                            break;
                        default:
                            <img class="something" src="fly-swatter-icon.png" />
                            break;
                    }
                    @if(TutorialMovements < 20)
                    {
                        @switch(representation.Avatar)
		                {
			                case 'W':
				                break;
			                default:
                                <img class=@($"tutorial-overlay tutorial-opacity-{5-TutorialMovements/4}") src=@($"tutorial/arrow-{i}.png") />
				                break;
		                }
                    }
                }
            </div>
        }
    </div>
    <p>(X, Y): (@(Snapshot.Map.ElementAt(4).X), @(Snapshot.Map.ElementAt(4).Y))</p>
}


@code {
    const string PLAYER_GUID_STORAGE_KEY = "PlayerGuid";
    const string TUTORIAL_MOVEMENTS_STORAGE_KEY = "TutorialMovements";
    [Parameter]
    public string? PlayerGuid { get; set; }
    [Parameter]
    public GameSnapshot? Snapshot { get; set; }
    private System.Timers.Timer? timer;

    private bool IsLoading {get; set;} = true;
    private bool IsAnimating {get; set;} = false;
    private Directions LastDirection {get; set;} = Directions.Center;
    private int TutorialMovements { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (await _localstorage.ContainKeyAsync(PLAYER_GUID_STORAGE_KEY))
        {
            PlayerGuid = await _localstorage.GetItemAsStringAsync(PLAYER_GUID_STORAGE_KEY);
        } 
        else
        {
            PlayerGuid = Guid.NewGuid().ToString();
            await _localstorage.SetItemAsStringAsync(PLAYER_GUID_STORAGE_KEY, PlayerGuid);
        }
        if(await _localstorage.ContainKeyAsync(TUTORIAL_MOVEMENTS_STORAGE_KEY))
        {
            TutorialMovements = int.Parse(await _localstorage.GetItemAsStringAsync(TUTORIAL_MOVEMENTS_STORAGE_KEY));
        }

        await Http.PostAsJsonAsync<object>($"Game/Register/{PlayerGuid}", new { });
        timer = new System.Timers.Timer(1200);
        timer.Elapsed += UpdateMap;
        timer.Start();
    }
    private async Task RefreshSnapshot()
    {
        Snapshot = await Http.GetFromJsonAsync<GameSnapshot>($"Game/Map/{PlayerGuid}");
        IsLoading = false;
        IsAnimating = false;
        StateHasChanged();
    }

    public async Task Move(Directions direction)
    {
        if(IsLoading)
        {
            return;
        }
        IsLoading = true;
        IsAnimating = true;
        LastDirection = direction;
        await PlaySound(direction);
        await Http.PostAsJsonAsync<object>($"Game/Move/{PlayerGuid}/{direction}", new { });
        if(TutorialMovements < 20)
        {
            await _localstorage.SetItemAsStringAsync(TUTORIAL_MOVEMENTS_STORAGE_KEY, (++TutorialMovements).ToString());
        }
        await RefreshSnapshot();
    }

    public async void UpdateMap(object? sender, ElapsedEventArgs e)
    {
        await RefreshSnapshot();
    }

    private async Task PlaySound(Directions direction)
    {
        var track = Movement.MusicalNotes[direction];
        await JSRuntime.InvokeVoidAsync("playSound", $"sound/{track}.mp3");
    }
}
